.saw {
    .saw-header {
      background-color: #00529a;

      &-text-secondary {
        color: #88cffa;
      }
    }

    .saw-main-1 {
        background: url('../../pages/saw/img/saw-main.png');
        height: 553px;
        // background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        padding: 487px 0 0 0;
    }

    .btn-order {
        border-radius: 32px;
        border: 3px solid #124d77;
    }

    .saw-price-block {
        width: 39%;
    }

    .saw-price-block-1,
    .saw-price-block-3 {
       background: #0061a7;
    }

    .saw-price-sale {
         width: 30%;
    }

    .info-img {
        width: 130px;
    }

    .saw-video {
        width: 80%;
        max-width: 450px;
    }

    .btn-order {
        width: 263px;
        height: 72px;
        box-shadow: inset 0px 1px 24px 0px #54a3f7;
        background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
        background-color: #007dc1;
    }

    .saw-img-bg {
        height: 400px;
        background: url('../../pages/saw/img/saw-img.jpeg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .saw-img-bg-2 {
        height: 465px;
        background: url('../../pages/saw/img/saw-img-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0.9);
    }

    .saw-img-bg-3 {
        height: 411px;
        background: url('../../pages/saw/img/saw-spec.jpeg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0.9);
    }

    .saw-img-bg-4 {
        height: 355px;
        background: url('../../pages/saw/img/saw-engine.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(0.9);
    }

    .saw-img-bg-5 {
        height: 455px;
        background: url('../../pages/saw/img/saw-spec-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .saw-img-bg-6 {
        height: 455px;
        background: url('../../pages/saw/img/saw-spec-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .saw-delivery {
        &-item {
            border-bottom: 1px dashed #ccc;

            &-img {
                width: 120px;
            }

            &-text {
                max-width: 250px;
            }
        }
    }

    .form {
        &-input {
            // border: 2px solid #88cffa;
            border-radius: 12px;
            height: 64px;
            width: 340px;
        }

        &-input:not(.form-input-error) {
            border: 2px solid #88cffa;
        }

        .btn-submit {
            width: 280px;
            background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
            box-shadow: inset 0px 1px 24px 0px #54a3f7;
            color: white;
            border-radius: 32px;
            border: 3px solid #124d77 !important;
            height: 72px;
        }
    }
}

