.antenna-header {
    // background: linear-gradient(90deg, #0012e2 0%, #1047ff 100%);
}

.antenna-header-secondary {
    background-color: #1c1c1c;
}

.main-1 {
    background: url('../../../img/antenna/main-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 409px;
}

.price {
    background: #e4e4e4;
    border-radius: 8px;

    .old-price {
        &-amount {
            text-decoration: line-through;
        }
    }

    .sale-price {
        background: radial-gradient(27.41% 258.33% at 111.67% -20.83%, #2400ff 0%, rgba(5, 0, 255, 0) 100%), linear-gradient(270.42deg, #10c2ff 0.25%, #2089f9 126.37%);
        box-shadow: 0px 3px 0px #126cb9;
        width: 108px;
        height: 80px;
        color: rgb(228, 228, 228);
        font-weight: 900;
        position: absolute;
        top: -6px;
        border-radius: 18px;

        &-amount {
            font-weight: 900;
        }
    }

    .new-price {
        &-amount {
           color: #099aff;
           font-weight: 800;
        }
    }
}

.img-1, .img-2, .img-3 {
    width: 50px;
    height: 50px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.btn-order {
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 280px;
    height: 65px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 67px;
    font-weight: 600;
    color: white;
    background: radial-gradient(57.41% 258.33% at 111.67% -20.83%, #2400ff 0%, rgba(5, 0, 255, 0) 100%), linear-gradient(270.42deg, #00c2ff 0.25%, #1089f9 126.37%);
    box-shadow: 0px 3px 0px #196cb9;
    border-radius: 20px;
    text-align: center;
}

.hd-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 14px;
}

.hd-wrapper-img {
    width: 180px;
    height: 153px;
}

.hd-wrapper-img-1 {
    background: url('../../../img/antenna/1.png');
}

.hd-wrapper-img-2 {
    background: url('../../../img/antenna/2.png');
}

.hd-wrapper-img-3 {
    background: url('../../../img/antenna/3.png');
}

.hd-wrapper-img-4 {
    background: url('../../../img/antenna/4.png');
}

.antenna-char {
    background-color: #dceaff;
}

.how-to-order-bg {
    background: url('../../../img/antenna/how-to-order.png');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-wrapper-antenna {
    .form {
        .btn-submit {
            color: white;
            width: 260px;
            height: 70px;
            margin-bottom: 26px;
            background: radial-gradient(57.41% 258.33% at 111.67% -20.83%, #2400ff 0%, rgba(5, 0, 255, 0) 100%), linear-gradient(270.42deg, #00c2ff 0.25%, #1089f9 126.37%);
        }
    }
}

.footer-antenna {
    max-width: 450px;
}