.antenna-header {
    background: linear-gradient(90deg, #0088e2 0%, #1047ff 100%);
}

.antenna-header-secondary {
    background-color: #1c1c1c;
}

.main-1 {
    background: url('../../../img/antenna/main-1.png');
    background-size: contain;
    height: 409px;
}

.price {
    background: url('../../../img/antenna/price.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 225px;
}

.btn-order {
    cursor: pointer;
    text-decoration: none;
    border: none;
    width: 280px;
    height: 65px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 67px;
    font-weight: 600;
    color: white;
    background: radial-gradient(57.41% 258.33% at 111.67% -20.83%, #2400ff 0%, rgba(5, 0, 255, 0) 100%), linear-gradient(270.42deg, #00c2ff 0.25%, #1089f9 126.37%);
    box-shadow: 0px 3px 0px #196cb9;
    border-radius: 20px;
    text-align: center;
}

.hd-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 14px;
}

.hd-wrapper-img {
    width: 180px;
    height: 153px;
}

.hd-wrapper-img-1 {
    background: url('../../../img/antenna/1.png');
}

.hd-wrapper-img-2 {
    background: url('../../../img/antenna/2.png');
}

.hd-wrapper-img-3 {
    background: url('../../../img/antenna/3.png');
}

.hd-wrapper-img-4 {
    background: url('../../../img/antenna/4.png');
}

.antenna-char {
    background-color: #dceaff;
}

.how-to-order-bg {
    background: url('../../../img/antenna/how-to-order.png');
    height: 750px;
    background-size: contain;
    background-repeat: no-repeat;
}